@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

*{
    margin:0px;
    padding: 0px;  
    font-family: 'Montserrat';
}

.header{
    min-height: 100vh;
    width:100%;
     background-image: linear-gradient(rgba(13, 20, 46, 0.8), rgba(11, 19, 49, 0.9)), url(./img/banner.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width:13.5rem;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background: #54FFE5;
    display: block;
    margin: auto;
    transition: 0.5s ;
}

.nav-links ul li:hover::after{
    width:100%;
    transition: 0.5s ;
}

.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 13px 0px 40px 0px;
    font-size: 16px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border: 1px solid #fff;
    padding: 11px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.hero-btn:hover{
    border: 1px solid #54FFE5;
    background:#54FFE5 ;
    transition: 1s;
    color: black;
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    
     html,body{
        overflow-x: hidden;
    }
    .text-box h1{
        font-size: 25px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(112, 150, 231);
        height: 100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul li:hover{
        background-color:rgb(112, 150, 231);
        transition: 1s;
    }
}

.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
}

.para{
    color: #fff;
}

.course-col{
    flex-basis: 31%;
    background: rgb(112, 150, 231);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
    color: #fff;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.9);
    
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.campus{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.7s;
}

.layer:hover{
    background: #54FFE5;
}

.layer h3{
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.facilities{
    width:80%;
    margin: auto;
    text-align: center;
}

h2{
    font-size: 35px;
    font-weight: 600;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
   
}

.facilities-col img{
    width:100%;
    border-radius: 10px;
    transition: 0.5s;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.facilities-col img:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.9);  
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url(./img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px;
}

.cta h2{
    color:#fff;
    margin-bottom: 40px;
    padding: 0px;
}

@media (max-width:700px){
    h2{
        font-size: 25px;
    }

    .cta h1{
        font-size: 25px;
    }
}

.footer{
    width:100%;
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(112, 150, 231);
    color: #ffffff;
}

.footer p{
    color: white;
}

.footer h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color:#ffffff;
    margin: 0 15px;
    cursor: pointer;
    padding: 15px 0px;
}

